body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
}

h1 {
  /* Установите для заголовка первого уровня шрифт с засечками; */
    font-family: "Times New Roman", serif;
}

h4 {
  /* Измените размер шрифта для подзаголовков четвертого уровня; */
    font-size: 14px;
}

table {
    border-collapse: collapse;
    /*	Сделайте ширину таблицы на 100% экрана; */
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

ul, ol {
    margin: 0;
}

img {
  /*	Добавьте картинку и сделайте ее высотой 30px; */
    height: 30px;
    width: auto;
}